.checkout {
  display: flex;
  flex-direction: column;
  background-color: #eaeded;
  gap: 30px;
  width: 100%;
  height: auto;
  margin-top: 0;
}
.checkout hr {
  width: 100%;
  height: 1px;
  margin-top: 0;
}

.checkout_account {
  position: relative;
  top: 100px;
  left: 30px;
}

.checkout__left {
  position: relative;
  top: 100px;
  left: 100px;
}

.checkout_subtotal {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 70px;

  text-align: center;
  top: 30px;
  left: 90px;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 5;

  border-top: rgb(212, 212, 212) solid .4px;
  margin-right: 50px;
  margin-left: 60px;
}

.checkout__right {
  position: relative;
  top: 180px;
  left: 80px;
}

.checkout__wrapper {
  width: 1300px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 50px;
  margin-right: 10px;
}

.checkout__wrapper p {
  font-size: 16px;
  margin-bottom: 0;
  text-decoration: none;
  color: rgb(85, 87, 87);
  margin-left: auto;
}

.checkout__title {
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 0;
  font-size: 36px;
}

.checkout__deslect {
  font-size: 20px;
  margin-left: 10px;
  padding-left: 10px;
  margin-top: 0;
  padding-top: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(3, 92, 128);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .checkout {
    flex-direction: row; /* Row layout for medium devices */
    padding: 10px;
  }

  .checkout__wrapper {
    margin-top: 30px;
    padding: 30px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .checkout__wrapper {
    margin-top: 50px;
    padding: 40px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .checkout__wrapper {
    padding: 50px;
  }
}
