/* CartProps.css */

.checkoutProduct {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.checkoutProduct__image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.checkoutProduct__info {
  flex: 1;
}

.checkoutProduct__details {
  display: flex;
  flex-direction: column;
}

.checkoutProduct__title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.checkoutProduct__description {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.check-out-instock {
  color: #007600;
  margin-bottom: 5px;
}

.check-out-prime {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: #007600;
}

.check-out-prime img {
  width: 50px;
  height: 20px;
  margin-right: 5px;
}

.checkoutProduct__price {
  font-size: 16px;
  color: #007185;
  margin-bottom: 5px;
}

.checkoutProduct__rating {
  display: flex;
  align-items: center;
  color: #007185;
}

.checkoutProduct__quantityContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.checkoutProduct__button {
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #007185;
  padding: 0 10px;
}

.checkoutProduct__quantity {
  font-size: 16px;
  margin: 0 10px;
}

.checkoutProduct__removeWarpper {
  margin-top: 10px;
}

.checkoutProduct__removeButton {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  padding: 0 10px;
  cursor: pointer;
  margin-top: 10px;
}

.checkoutProduct__removeButton:hover {
  background-color: #ddb347;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .checkoutProduct {
    flex-direction: column;
  }

  .checkoutProduct__info {
    margin-top: 10px;
  }

  .checkoutProduct__image {
    margin-bottom: 10px;
  }

  .checkoutProduct__details {
    align-items: center;
  }

  .checkoutProduct__quantityContainer {
    margin-top: 10px;
  }

  .checkoutProduct__button {
    font-size: 16px;
    padding: 0 5px;
  }

  .checkoutProduct__removeButton {
    padding: 0 5px;
  }
}