.lower_container {
  background-color: #22303e;
  margin-top: 58px;
  color: white;
  display: flex;
  min-width: 100%;
}

.lower_container ul {
  display: flex;
  list-style-type: none;

  gap: 15px;
}
.lower_container ul li {
  display: flex;

  justify-content: center;
  font-size: 11px;

}
.lower_container ul li a {
  text-decoration: none;
  color: white;
}
.nav_menu {
  display: flex;

  align-items: center;
}

.nav_menu p {
  padding-top: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}
